<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
     <style>
table, th,td {
  border: 2px solid blue;
  margin: 50px 50px 75px 100px;
  padding: 10px;
}
    #one{
    border:2px solid red;
    }
    #two{
    border:2px solid yellow;
    }
    #three{
    border:2px solid green;
    }
    </style>

</head>
<body>
<div>
    <header>
        <h1>To Do App</h1>
    <nav>
        {% if user.is_active %}
        <button ><a href="home">Home</a></button>
        <button><a href="create">Create New To Do</a></button>

        <button id="leftb"><a href="logoutuser" >Logout</a></button>

        {% else %}
        <button ><a href="home">Home</a></button>

        <button><a href="loginuser">Login</a></button>
        <button><a href="signupform">Signup</a></button>
            {% endif %}


    </nav>
    </header>
    <div>
        {% block content%}
        {% endblock %}
    </div>
</div>

</body>
</html>