<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
     <style>
table, th,td {
  border: 2px solid blue;
  margin: 50px 50px 75px 100px;
  padding: 10px;
}
    #one{
    border:2px solid red;
    }
    #two{
    border:2px solid yellow;
    }
    #three{
    border:2px solid green;
    }
    </style>

</head>
<body>
<div>
    <header>
        <h1>To Do App</h1>
    <nav>
        {% if user.isactive %}
        <a href="home">Home</a>
        <a href="logoutuser">Logout</a>
        {% else %}
        <a href="loginuser">Login</a>
        <a href="signupform">Signup</a>
            {% endif %}


    </nav>
    </header>
    <div>
        {% block content%}
        {% endblock %}
    </div>
</div>

</body>
</html>