<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
    <style type="text/css">
        .data{
        padding:10px;
        border:5px solid red;
        margine:10px;
        }
    </style>
</head>
<body>
<center>
<h1>To Do App</h1>
</center>
<section class="nav">
<button type="button"><a href="/create">New To Do Work</a> </button>
</section>

    {% for k in data %}

<section class="data">
    <label> Work :</label><br>
    {{k.work}}
    <br>
    <label> Created at : </label>
    {{k.created_at}}
    <br>
    <label>Complted :</label>
    {{k.completed}}
    </section>

    {% endfor %}


</body>
</html>